<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Purchase Order Details</title>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"></link>
</head>
<body>

<div class="container">
<div class="panel panel-default">
  <div class="panel-heading">Purchase Order Details</div>
  <div class="panel-body">

    <table class="table">
		<tr>
			<td>Plant name</td>
			<td th:text="${p.name}"></td>
		</tr>
		<tr>
			<td>Plant Description</td>
			<td th:text="${p.description}"></td>
		</tr>
		<tr>
			<td>Start date</td>
			<td th:text="${rentalPeriod.start_date}"></td>
		</tr>
		<tr>
			<td>End date</td>
			<td th:text="${rentalPeriod.end_date}"></td>
		</tr>
		<tr>
			<td>Cost</td>
			<td th:text="${p.price}"></td>
		</tr>
		<tr>
			<td>Status</td>
			<td th:text="${p.status}"></td>
		</tr>
	</table>
    </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>